/* VARIABLES */
:root {
    --bg: #f8f5f2;
    --card-bg: #fff;
    --card-border: #e2ddd8;
    --text-primary: #2e2b28;
    --text-secondary: #595551;
    --accent: #c75b39;
    --accent-light: #e8c6b0;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* LAYOUT */

main {
    min-height: 100vh;
    background-color: var(--bg);
}

.container {
    padding: 0 20px;
}

/* TYPOGRAPHY */

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--text-secondary);
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: var(--text-primary);
}

/* PAGE STYLE */

h1,
p {
    text-align: center;
}

h1 {
    padding: 40px 0 20px;
}

/* Filters bar */

.filters-bar {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filters-bar > div {
    width: 48%;
    height: auto;
}

.filters-bar > div:last-child {
    width: 100%;
    text-align: end;
}


form label {
    visibility: hidden;
    position: absolute;
}

form select {
    width: 100%;
    padding: 8px 16px;
    margin-bottom: 8px;
    border-radius: 10px;
    border: 1px solid var(--card-border);
    color: var(--text-primary);
    text-align: center;
}

form select:hover {
    background-color: var(--accent-light);
    border-color: var(--accent);
}

form select:active {
    background-color: var(--accent);
    color: var(--card-bg);
}

form select:focus-visible {
    outline: none;
}

form button {
    border-radius: 10px;
    padding: 8px 16px;
    background-color: var(--accent);
    border: none;
    color: var(--card-bg);
}

/* Recipe card */

.cards-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.card {
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    border-color: var(--card-border);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    background-color: var(--card-bg);
}

.card__img img {
    height: 140px;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.card__text {
    padding-top: 16px;
}

.card__text h3 {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: var(--text-primary);
    padding-bottom: 8px;
}

.card__text .badge {
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    padding: 4px 8px;
    background-color: var(--bg);
}

.card__text .tags {
    padding-bottom: 8px;
    text-transform: capitalize;
}

.card__text .difficulty {
    color: #fff;
    text-transform: uppercase;
}

.difficulty .easy {
    background-color: #8CBF75;
}

.difficulty .medium {
    background-color: #E3A857;
}

.difficulty .hard {
    background-color: #C1604C;
}